/* header and the background */
header{
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Ceviche One', cursive;
    color: #54020e;
    background: #cac8c8 url("../images/title_background.jpeg");
    z-index: 1;
    font-size: 25px;
}

header a,a:hover,a:focus{
    color: #54020e;
}

/* "go back to the main page" */
header>a{
    position: absolute;
    top: -30px;
    right: 0;
}
header>a:focus{
    position:absolute;
    top: 0px;
    right: 0;
  }

/* Whole font and color of the page */
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color:#cac8c8;
    height: max-content;
    text-align: left;
}
main a,main a:hover,main a:focus{
    color: #cac8c8;
}

/* tablet view  */
button{
    display: none;
}

/* title */
#title{
    display: block;
    background-color: rgba(202, 200, 200,0.5);
}

#title>h1{
    font-size: 50pt;
    text-align: center;
    opacity: 100%;
}





main{
    top: 110px;
    position: relative;
    padding:70px;
    z-index: 0;
    flex: 1;
}
main h2{
    font-size: 30px;
    font-family: 'Ceviche One', cursive;
    padding:30px 0px;
}
.main_characters{
    display: flex;
    padding: 20px;
    border-width: 10px;
    flex-wrap: wrap;

}
.character{
    width:250px;
    height:300px;
    padding:10px;
    border: solid 5px darkred;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
.character a{
    display: block;
    border-radius: 4px;
    background-color: darkred;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin: 5px;
}
.gallery{
    display: grid;
    width: 100%;
    padding:10px;
    grid-template-columns: 1fr 1fr 1fr ;

}
.gallery img{
    padding: 10px;
}
#parallal_image{
    display: none;
}
#form{
    display: inline-block;
    align-items: center;
}

@media screen and (max-width:600px){
    button{
        display: block;
        color: #54020e;
        font-family: 'Ceviche One', cursive;
        background-color:rgb(247, 226, 226);
        box-shadow:2px 2px 5px #000;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        
    }
    .nav_links{
        display: block;
        position: absolute;
        top: 97px;
        left: -140px;
        background-color: rgb(247, 226, 226);
        border-radius: 5px;
    }
    .main_characters{
        justify-content: center;
    }
    .gallery{
        display: grid;
        width: 100%;
        padding:10px;
        grid-template-columns: 1fr;
    
    }
    .flip_card{
        display: none;
    }

}
@media screen and (min-width:601px) and (max-width:850px){
    #denji_image7{
        grid-row: 3/span 2;
    }
       /* navigation */
    .nav_links{
        display: inline-flex;
        flex-wrap: wrap;
        background-color: rgba(202, 200, 200,0.7);
        width: 100%;
    }
    .nav_links>*{
        flex:1 1 0;
        text-align: center;
    }
    .nav_item_here{
        background-color: black;
    }
    .nav_item_here>a{
        color: #FFFFFF!important;
    }
    .flip_card{
        display: none;
    }
}
@media screen and (min-width:851px){
    /* navigation */
    .nav_links {
        list-style-type: none;
        margin: 0;
        animation-name: navigation;
        animation-duration: 2s;
        padding: 0;
        right: 0;
        width: 25%;
        background: #cac8c8 url("../images/navigation.jpeg");
        background-size: cover;
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
      }
    .nav_links >li{
        height: 50px;
    }
    .nav_links >li:nth-child(odd){
        background-color: rgba(243, 223, 223, 0.5);
    }
    .nav_links >li:nth-child(even){
        background-color: rgba(204, 186, 186, 0.5);
    }
    .nav_links >li:hover{
        background-color: rgba(243, 211, 211, 0.8);
    }
    .nav_item_here{
        background-color: black!important;
    }
    .nav_item_here>a{
        color: #FFFFFF!important;
    }

    main{
        width: 75%;
    }
    /* 9 page with animation or augment */
    @keyframes denji_animate{
        from{opacity: 0%;}
        to{opacity: 100%;}
    }
    .denji img:hover{
        animation-name: denji_animate;
        animation-duration: 2s;
    }
    @keyframes navigation{
        from{right: -25%;}
        to{right:0;}
    }

    /* paralla image */
#parallal_image{
    display: inline-block;
    width: 100%;
    height: 400px;
    background: #000 url("../images/parallax_image.JPG") no-repeat ;
    background-size:75%;
    background-position-y: 100px;
    font-size: 75px;
    font-family: 'Reggae One', cursive;
    text-align: center;
    line-height: 200px;
    text-shadow: -10px -10px 0 #54020e, 
    10px -10px 0 #54020e, 
    -10px 10px 0 #54020e, 
    10px 10px 0 #54020e;
    background-attachment: fixed;
}

.flip_card {
    background-color: transparent;
    width: 300px;
    height: 470px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip_card:hover .flip_card_inner,.flip_card .flip_card_inner:focus{
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip_card_front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip_card_back {
    background-color: rgb(5, 5, 5);
    color: rgb(248, 245, 245);
    transform: rotateY(180deg);
  }
}
@media (prefers-reduced-motion: reduce){
    .skip{
        top: 0;
    }
    .denji img:hover{
        animation: none;
    }
    .nav_links{
        animation: none;
    }
    #parallal_image{
        display: none;
    }
    .flip_card{
        display:none;
    }

}
footer{
    display: block;
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    position: fixed;
    text-align: center;

    bottom: 0;
  }

